 * {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
 }
body {
    margin: 0;
}
header {
    background-color:rgb(136, 145, 153) ;
    display: flex;
    justify-content: center;
}
.container {
    height: 150px;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    max-width: 900px;
    text-align: center; 
}
.container .container-title {
font-size: 50px;
color: white;
text-shadow: 1px 1px 2px black;
padding: 10px;
}
.container .container-description {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 5px;
}
section .container {
    background-image:url(elon/1128982.jpg);
    background-size:cover;
    background-position-y:top;
    max-width: 100%;
    height: 750px;
    display: flex;
    align-items: end;
    padding-right: 40px;
}
section .container .elonmusk {
    color: white;
    font-size: 35px;
    width: 350px;
    padding: 10px;
    margin-top: 20px;
}
section .container .description {
    font-size: 20px;
    max-width:350px;
    background-color: rgba(255, 255, 255, 0.671);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    
} 
.description blockquote {
    color: rgb(0, 0, 0);
    
}
.container-companies {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.ask {
    font-size: 40px;
    text-align: center;
    padding: 50px;
    color: white;
}
.comp12 {
flex-wrap: wrap;
}
h2 {
    width: 600px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
   
    border-radius: 50px;
}
strong {
    font-size: 20px;
}
.comp12 , .comp1 , .comp2 {
    display: flex;
    flex: 1;
}
.comp1 , .comp2 {
    margin-top: 20px;
}
.comp3,.comp4,.comp5,.comp6,.comp7,.comp8,.comp9,.comp10 {
margin-top: 20px;
display: flex;
justify-content: space-evenly;
flex:1;
align-items: center;


}
.comp34, .comp56, .comp78 , .comp910 , .comp12 {
    display: flex;
    flex-wrap: wrap;
    
}
.comp1 {
    justify-content: space-evenly;
}
 img {
width: 350px;
max-height:250px ;
border-radius: 50px;
border: 1px solid rgb(255, 255, 255);
}
.comp2 {
    justify-content: space-evenly;
}
footer {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(black , white);
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    
}
ul  {
    list-style-type: none;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.saiba h1 {
font-size: 45px;
color: black;
margin-top: 100px;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
a {
    text-decoration: none;
    color: white;
}
.copyright {
    font-size: 12px;
    color: rgb(49, 49, 49);
    border-top:1px solid rgb(49, 49, 49);
    padding: 30px;
}
.saiba img {
    width: 50px;
}
section .container .description {
    text-align: left;
}
footer h1 a {
    text-decoration: underline;
    text-shadow: 1px 1px 3px black;
}




@media (max-width:999px) {
    html {
        display: flex;
    }
    section .container {
        align-items: center;
        justify-content: end;
        padding: 30px;
    }
    .elonmusk {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.774);
        background-color: rgba(0, 0, 0, 0.699);
        border-radius: 50px;
    }
    .description {
        text-align: left;
    }
    section .container .description {
        text-align: left;
    }
   .comp1 .comp2 .comp3,.comp4,.comp5,.comp6,.comp7,.comp8,.comp9,.comp10 {
       flex-direction: column;
       
   }
   .comp3 {
       flex-direction: column;
   }
   .comp1 ,.comp2  {
       flex-direction:column;
       align-items: center;
   }
   .comp1 {
       justify-content: center;
       a
   }
   .comp12 {
       display: flex;
   }
   img {
       margin-bottom: 20px;
       margin-top: 20px;
   }
   .container-companies {
       padding: 20px;
   }
   .ask {
       padding: 10px;
   }
}
